<div class="ice-box">
	<%= simple_form_for @pic do |f| %>
	 <h1 class="awesome-sauce">
	  <%= f.input :title %>
	  <%= f.input :message %>
	  <%= f.input :who %>

	  <%= f.submit "Save" %>

	<% end %>	
</div>